body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: rgb(94, 54, 106);
}

#app {
  color: #eee;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.holder * {
  margin: 0.2rem 0;
}

.main {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main .element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  min-width: 300px;
}

.entry {
  background: rgba(12, 202, 152, .4);
  min-height: 100px;
  width: 100%;
  max-width: 300px;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 100%;
  max-width: 300px;
  background: rgb(12, 202, 152);
  color: #eee;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
}

button {
  min-width: 300px;
  height: 50px;
  background: rgb(12, 202, 152);
  color: #eee;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  cursor: pointer;
}

h1 {
  font-size: 36px;
}

textarea {
  max-width: 300px;
  background: rgb(12, 202, 152);
  color: #eee;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
  /* Firefox, Chrome, Opera */
  color: #eee;
  font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eee;
  font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #eee;
  font-family: 'Oswald', sans-serif;
}